# -------- Python --------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------- Virtual Env --------
venv/
env/
.venv/

# -------- Flask --------
instance/
*.log

# -------- Uploads --------
uploads/

# -------- Environment --------
.env

# -------- OS --------
.DS_Store
Thumbs.db

# -------- IDE --------
.vscode/
.idea/

# -------- Database / Secrets --------
users.json
