*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

height:100vh;

background:url("BG4.png") no-repeat center center/cover;

display:flex;
justify-content:flex-end;
align-items:center;

padding-right:120px;

color:#eaf6ff;

}



/* LOGIN CARD */

.card{

width:380px;

padding:40px;

background:linear-gradient(
180deg,
#f5f7fb 0%,
#e8edf4 100%
);

border-radius:20px;

box-shadow:0 12px 35px rgba(0,0,0,0.35);

text-align:center;

}

/* INPUT BOX */

.input-box{

display:flex;

align-items:center;

background:#dfe5ec;

border:1px solid #cfd6de;

margin-bottom:15px;

border-radius:10px;

padding:12px;

}

.input-box i{

margin-right:10px;

color:#2f6ea8;

}

.input-box input{

background:transparent;

border:none;

outline:none;

width:100%;

font-size:15px;

color:#2c3e50;

}

/* BUTTON */

button{

width:100%;

padding:13px;

background:#1e1be2e0;

border:none;

border-radius:10px;

font-size:18px;

font-weight:600;

color:white;

cursor:pointer;

margin-top:10px;

}

button:hover{

background:#1e1be2;
}

/* SIGNUP TEXT */

.switch{

margin-top:10px;

font-size:14px;

color:#6b7c93;

}

.switch span{

color:#3b6fa8;

font-weight:600;

cursor:pointer;

}

/* SWITCH */

.switch{

margin-top:15px;
font-size:14px;

}

.switch span{

color:#38bdf8;
cursor:pointer;
font-weight:bold;

}

/* FLASH */

.flash{

padding:5px;
margin-bottom:5px;

}

.flash.success{
font-size: 15px;
color: #18f804ef;
}

.flash.danger{
font-size: 15px;
color: #fa0202b7;
}
.flash.warning{
font-size: 15px;
color: #f80202d2;
}

/* TERMS & CONDITIONS */

.terms{
text-align:left;
margin:10px 0 15px 0;
font-size:14px;
color:#2e4f70;
}

.terms input{
margin-right:8px;
cursor:pointer;
}

.terms span{
color:#2c3e50;
}

#form-title{
text-align:center;
color:#1e1be2e0;
margin-bottom:20px;
font-size:28px;
display:block;
}

/* OTP BOXES */

.otp-container{
display:flex;
justify-content:space-between;
margin:2px 0;
}

.otp-box{
width:45px;
height:50px;
text-align:center;
font-size:22px;
border:2px solid #cfd6de;
border-radius:8px;
outline:none;
background:#dfe5ec;
color:#2c3e50;
}

.otp-box:focus{
border-color:#1e1be2;
}